# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/
miniconda3/
*.sh

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/

# VS Code
.vscode/

# Logs & temps
*.log
*.tmp

# Data / SAR / GIS (adjust as needed)
data/
*.tif
*.tiff
*.zip
*.7z
*.tar
*.tar.gz
*.SAFE/
*.img
*.grd
*.nc
*.h5
*.pt
*.ckpt
*.bin



/env1/
/.venv/
/venv/
__pycache__/
.ipynb_checkpoints/
.vscode/
*.log
*.tmp
/coarse_coreg/
/coarse_interferogram/
/coarse_offsets/
/ESD/
/geom_reference/
/mintpy_docker/
/PICKLE/
/reference/
/secondary/
/GMTSAR/
/fine_coreg/
/fine_interferogram/
/fine_offsets/
/merged/
*demLat*
/dem_files/



snap
snap-conf-optimiser
testing_quicklook.kmz
my_area.shx
my_area.shp
my_area.prj
my_area.dbf
my_area.cpg
houston_boundary.geojson
preprocessed/S1A__IW___A_20240828T002651_manifest.safe
houston_public_works_data/Stormdrain_Detention_Ponds/Stormdrain_Detention_Ponds.cpg
houston_public_works_data/Stormdrain_Detention_Ponds/Stormdrain_Detention_Ponds.dbf
houston_public_works_data/Stormdrain_Detention_Ponds/Stormdrain_Detention_Ponds.prj
houston_public_works_data/Stormdrain_Detention_Ponds/Stormdrain_Detention_Ponds.shp
houston_public_works_data/Stormdrain_Detention_Ponds/Stormdrain_Detention_Ponds.shx
houston_public_works_data/Stormdrain_Discharge_Points/Stormdrain_Discharge_Points.cpg
houston_public_works_data/Stormdrain_Discharge_Points/Stormdrain_Discharge_Points.dbf
houston_public_works_data/Stormdrain_Discharge_Points/Stormdrain_Discharge_Points.prj
houston_public_works_data/Stormdrain_Discharge_Points/Stormdrain_Discharge_Points.shp
houston_public_works_data/Stormdrain_Discharge_Points/Stormdrain_Discharge_Points.shx
houston_public_works_data/Stormdrain_Gravity_Mains/Stormdrain_Gravity_Mains.cpg
houston_public_works_data/Stormdrain_Gravity_Mains/Stormdrain_Gravity_Mains.dbf
houston_public_works_data/Stormdrain_Gravity_Mains/Stormdrain_Gravity_Mains.prj
houston_public_works_data/Stormdrain_Gravity_Mains/Stormdrain_Gravity_Mains.shp
houston_public_works_data/Stormdrain_Gravity_Mains/Stormdrain_Gravity_Mains.shx
houston_public_works_data/Stormdrain_Gravity_Mains_Label_(Size_%26_Material)/Stormdrain_Gravity_Mains_Label_(Size_%26_Material).cpg
houston_public_works_data/Stormdrain_Gravity_Mains_Label_(Size_%26_Material)/Stormdrain_Gravity_Mains_Label_(Size_%26_Material).dbf
houston_public_works_data/Stormdrain_Gravity_Mains_Label_(Size_%26_Material)/Stormdrain_Gravity_Mains_Label_(Size_%26_Material).prj
houston_public_works_data/Stormdrain_Gravity_Mains_Label_(Size_%26_Material)/Stormdrain_Gravity_Mains_Label_(Size_%26_Material).shp
houston_public_works_data/Stormdrain_Gravity_Mains_Label_(Size_%26_Material)/Stormdrain_Gravity_Mains_Label_(Size_%26_Material).shx
houston_public_works_data/Stormdrain_Inlets/Stormdrain_Inlets.cpg
houston_public_works_data/Stormdrain_Inlets/Stormdrain_Inlets.dbf
houston_public_works_data/Stormdrain_Inlets/Stormdrain_Inlets.prj
houston_public_works_data/Stormdrain_Inlets/Stormdrain_Inlets.shp
houston_public_works_data/Stormdrain_Inlets/Stormdrain_Inlets.shx
houston_public_works_data/Stormdrain_Open_Drains/Stormdrain_Open_Drains.cpg
houston_public_works_data/Stormdrain_Open_Drains/Stormdrain_Open_Drains.dbf
houston_public_works_data/Stormdrain_Open_Drains/Stormdrain_Open_Drains.prj
houston_public_works_data/Stormdrain_Open_Drains/Stormdrain_Open_Drains.shp
houston_public_works_data/Stormdrain_Open_Drains/Stormdrain_Open_Drains.shx
demLat_N28_N32_Lon_W098_W094.dem
demLat_N28_N32_Lon_W098_W094.dem.vrt
demLat_N28_N32_Lon_W098_W094.dem.wgs84
demLat_N28_N32_Lon_W098_W094.dem.wgs84.vrt
demLat_N28_N32_Lon_W098_W094.dem.wgs84.xml
demLat_N28_N32_Lon_W098_W094.dem.xml
MintPy-tutorial
